@charset "UTF-8";

/* 回答はここに書いてね */

.boxs {
  padding: 20px;
}

.table {
  width: 100%;
  display: table;
}

.table:first-child {
  padding-bottom: 20px;
}

.table-box {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.fixed {
  background-color: #fdc8b8;
  width: 100px;
}

.change {
  background-color: #e0abd9;
}

.fixeds {
  background-color: #b6d8ed;
  width: 100px;
}

.changes {
  background-color: #e5d32e;
}

.changess {
  background-color: #ec8f9a;
}

.fixedss {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
