@charset "UTF-8";

/* 回答はここに書いてね */

.boxs {
  padding: 20px;
}

.table {
  width: 100%;
  display: table;
  padding-bottom: 20px;
}

.table div {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.table div:first-child {
  background-color: #fdc8b8;
  width: 100px;
}

.table .change {
  background-color: #e0abd9;
}
.table div:last-child {
  background-color: #b6d8ed;
  width: 100px;
}

.table-s {
  width: 100%;
  display: table;
}
.table-s div {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.table-s div:first-child {
  background-color: #e5d32e;
}

.table-s .change-s {
  background-color: #ec8f9a;
}

.table-s div:last-child {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
