@charset "UTF-8";

/* 回答はここに書いてね */

.main-table {
  width: 100%;
  height: auto;
  table-layout:fixed;
}

.main-table tr {
  text-align: center;
}

.main-table tr th {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

.main-table th,
.main-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
}

.main-table tr:nth-child(2n+3) {
  background-color: #ecf1f2;
}

.main-table tr:last-child {
  border-top:dashed #000 2px;
}

/* 回答はここに書いてね */
